<div class="flex flex-column">
  <form [formGroup]="form">
    @if (event) {
    <div class="flex flex-column justify-content-center align-items-center">
      <div class="text-xs font-light">Event id: {{ event.id }}</div>
      <div class="text-xs font-light">User id: {{ event.userId }}</div>
    </div>

    <p-divider />
    }

    <app-input
      type="text"
      label="Title"
      inputId="title"
      formControlName="title"
      [isLoading]="submitEventPerform.isLoading"
    />

    <app-checkbox
      label="All day"
      formControlName="allDay"
      [enabled]="!submitEventPerform.isLoading"
    />

    <app-date-time-input
      formControlName="start"
      label="Date time range from"
      inputId="date-time-range-from"
      appendTo="body"
      [showTime]="!form.get('allDay')?.value"
      [maxDate]="form.get('end')?.value"
      [isLoading]="submitEventPerform.isLoading"
    />

    <app-date-time-input
      formControlName="end"
      label="Date time range to"
      inputId="date-time-range-to"
      appendTo="body"
      [showTime]="!form.get('allDay')?.value"
      [minDate]="form.get('start')?.value"
      [isLoading]="submitEventPerform.isLoading"
    />

    <p-editor
      formControlName="description"
      [readonly]="submitEventPerform.isLoading"
    >
      <ng-template pTemplate="header">
        <span class="ql-formats">
          <button type="button" class="ql-bold" aria-label="Bold"></button>
          <button type="button" class="ql-italic" aria-label="Italic"></button>
          <button
            type="button"
            class="ql-underline"
            aria-label="Underline"
          ></button>
          <button type="button" class="ql-strike" aria-label="strike"></button>
          <button
            type="button"
            class="ql-blockquote"
            aria-label="blockquote"
          ></button>
          <button
            type="button"
            class="ql-code-block"
            aria-label="code-block"
          ></button>
          <button type="button" class="ql-link" aria-label="link"></button>
        </span>

        <select class="ql-size">
          <option value="small"></option>
          <option selected></option>
        </select>
      </ng-template>
    </p-editor>
  </form>

  <div class="flex justify-content-end mt-5">
    <app-form-submit
      [form]="form"
      (validSubmit)="onSubmit()"
      [isLoading]="submitEventPerform.isLoading"
      >Submit</app-form-submit
    >
  </div>
</div>
