<div class="flex flex-column">
  <form [formGroup]="form">
    @if(!calendarPermission) {
    <p-autoComplete
      [suggestions]="searchUsers"
      (completeMethod)="searchByEmail($event)"
      placeholder="Search email"
      appendTo="body"
      styleClass="w-full"
      field="email"
      (onSelect)="onSelectEmail($event)"
      [disabled]="calendarPermissionPerform.isLoading"
    />
    } @else {
    <div class="flex flex-row justify-content-center w-full">
      <div class="font-light">
        {{ calendarPermission.email }}
      </div>
    </div>

    <p-divider />
    }

    <div class="field mt-5">
      <p-floatLabel>
        <p-dropdown
          [options]="accessOptions"
          optionLabel="name"
          optionValue="access"
          formControlName="access"
          appendTo="body"
          styleClass="w-full"
          [loading]="calendarPermissionPerform.isLoading"
        />
      </p-floatLabel>
    </div>
  </form>

  <div class="flex justify-content-end mt-5">
    @if(calendarPermission) {
    <p-button
      size="small"
      severity="danger"
      label="Remove user"
      outlined="true"
      [loading]="calendarPermissionPerform.isLoading"
      (onClick)="onRemoveUser()"
    />
    }

    <app-form-submit
      [form]="form"
      (validSubmit)="onSubmit()"
      class="ml-2"
      [isLoading]="calendarPermissionPerform.isLoading"
      >Submit</app-form-submit
    >
  </div>
</div>
