<p-toast />
@if (form) {
<div class="flex justify-content-center mt-8">
  <p-card>
    <ng-template pTemplate="header">
      <app-event-hub-img-logo />
    </ng-template>

    <ng-template pTemplate="content">
      <form [formGroup]="form">
        <div class="field required">
          <p-floatLabel>
            <input
              type="email"
              id="email"
              pInputText
              formControlName="email"
              class="w-full"
              [ngClass]="{ 'ng-invalid ng-dirty': formFieldErrorMap['email'] }"
            />
            <label for="email">Email</label>
          </p-floatLabel>

          <app-field-error [errors]="formFieldErrorMap['email']" />
        </div>

        <div class="field mt-5 required">
          <p-floatLabel>
            <p-password
              toggleMask="true"
              feedback="false"
              id="password"
              formControlName="password"
              class="p-password-block"
              [ngClass]="{
                'ng-invalid ng-dirty': formFieldErrorMap['password']
              }"
            />
            <label for="password">Password</label>
          </p-floatLabel>

          <app-field-error [errors]="formFieldErrorMap['password']" />
        </div>
      </form>
    </ng-template>

    <ng-template pTemplate="footer">
      <div class="flex flex-column align-items-center">
        <p-button
          label="Login"
          type="submit"
          outlined="true"
          severity="contrast"
          size="small"
          (onClick)="onSubmit()"
        />

        <p-divider class="w-full" />

        <p-button
          label="Create an account"
          link="true"
          severity="contrast"
          size="small"
          (onClick)="onCreateAccount()"
        />
      </div>
    </ng-template>
  </p-card>
</div>
}
