<ng-template #col let-day="day">
  <div
    class="flex flex-column align-items-center font-medium"
    [ngClass]="{
      'text-teal-600': day.isToday,
      'text-red-600': day.isPast,
      'text-gray-600': day.isFuture
    }"
  >
    <div class="block md:hidden">
      {{ day.date | date : "EEEEE" }}
    </div>
    <div class="hidden md:block">
      {{ day.date | date : "E" }}
    </div>
    @if(currentView === CalendarView.Week) {
    <div>
      {{ day.date | date : "d" }}
    </div>
    }
  </div>
</ng-template>

<ng-template #monthHeader let-days="days">
  <div class="cal-cell-row cal-header">
    @for(day of days; track day.date) {
    <div class="cal-cell">
      <ng-container
        [ngTemplateOutlet]="col"
        [ngTemplateOutletContext]="{ day }"
      />
    </div>
    }
  </div>
</ng-template>

<ng-template #weekHeader let-days="days">
  <div class="cal-day-headers">
    @for(day of days; track day.date) {
    <div class="cal-header">
      <ng-container
        [ngTemplateOutlet]="col"
        [ngTemplateOutletContext]="{ day }"
      />
    </div>
    }
  </div>
</ng-template>

<div class="grid mt-3 mx-0 md:mx-3">
  <div class="col-12 md:col-6">
    <div
      class="flex flex-row align-items-center justify-content-center md:justify-content-start"
    >
      <p-button
        severity="secondary"
        size="small"
        icon="pi pi-plus"
        label="Create event"
        outlined="true"
        (click)="onCreateEvent()"
        [loading]="calendarSettingsPerform.isLoading"
      />

      <span class="ml-4 text-2xl font-light">{{
        currentView === CalendarView.Day
          ? (viewDate | date : "d LLLL y")
          : (viewDate | date : "LLLL y")
      }}</span>
    </div>
  </div>

  <div class="col-12 md:col-6">
    <div
      class="flex flex-row align-items-center justify-content-center md:justify-content-end"
    >
      <p-button
        mwlCalendarToday
        text
        severity="secondary"
        size="small"
        label="Today"
        [(viewDate)]="viewDate"
        [loading]="calendarSettingsPerform.isLoading"
      />

      <p-button
        mwlCalendarPreviousView
        [(viewDate)]="viewDate"
        [view]="currentView"
        text
        severity="secondary"
        size="small"
        icon="pi pi-chevron-left"
        [loading]="calendarSettingsPerform.isLoading"
      />

      <p-button
        mwlCalendarNextView
        [(viewDate)]="viewDate"
        [view]="currentView"
        text
        severity="secondary"
        size="small"
        icon="pi pi-chevron-right"
        class="ml-1"
        [loading]="calendarSettingsPerform.isLoading"
      />

      @if(calendarSettingsPerform.isLoading) {
      <p-skeleton width="7rem" />
      } @else {
      <p-splitButton
        size="small"
        severity="info"
        text
        [label]="currentView.charAt(0).toUpperCase() + currentView.slice(1)"
        [model]="viewMenuItems"
        class="ml-2"
      />
      }
    </div>
  </div>

  <div class="col-12">
    @switch (currentView) { @case (CalendarView.Month) {
    <mwl-calendar-month-view
      [viewDate]="viewDate"
      [headerTemplate]="monthHeader"
      [events]="events"
      (eventClicked)="onEventClicked($event.event)"
      (beforeViewRender)="onViewPeriodRender($event.period)"
    ></mwl-calendar-month-view>
    } @case (CalendarView.Day) {
    <mwl-calendar-day-view
      [viewDate]="viewDate"
      [events]="events"
      (eventClicked)="onEventClicked($event.event)"
      (beforeViewRender)="onViewPeriodRender($event.period)"
    ></mwl-calendar-day-view>
    } @case(CalendarView.Week) {
    <mwl-calendar-week-view
      [viewDate]="viewDate"
      [headerTemplate]="weekHeader"
      [events]="events"
      (eventClicked)="onEventClicked($event.event)"
      (beforeViewRender)="onViewPeriodRender($event.period)"
    ></mwl-calendar-week-view>
    } }
  </div>
</div>
