<div class="grid mt-3 mx-3">
  <div class="col-12">
    <div class="mx-0 md:mx-8 mt-5">
      <div class="grid">
        @if(userPerform.isLoading || updatePerform.isLoading) {
        <div class="col-fixes">
          <div class="flex flex-column justify-content-center h-full p-2">
            <p-skeleton shape="circle" size="4rem" />
          </div>
        </div>

        } @else {
        <div class="col-fixes">
          <div class="flex flex-column justify-content-center h-full p-2">
            <p-avatar icon="pi pi-user" shape="circle" size="xlarge" />
          </div>
        </div>

        <div class="col">
          <div class="flex flex-column justify-content-center h-full">
            <div class="text-xl">{{ userPerform.data?.username }}</div>
            <div class="font-light text-sm">Your account</div>
          </div>
        </div>
        }
      </div>
    </div>
  </div>

  <div class="col-12">
    <p-divider />
  </div>

  <div class="col-12">
    <div class="mx-0 md:mx-8 mt-5">
      <div class="grid">
        <div class="col-12">
          <div class="text-lg font-light">Your account data</div>
        </div>

        <div class="col-12">
          <form [formGroup]="form">
            <app-input
              type="email"
              label="Email"
              inputId="email"
              [isLoading]="userPerform.isLoading || updatePerform.isLoading"
              formControlName="email"
            />

            <app-input
              type="text"
              label="User name"
              inputId="username"
              [isLoading]="userPerform.isLoading || updatePerform.isLoading"
              formControlName="username"
            />
          </form>
        </div>

        <div class="col-12">
          <div class="flex flex-row-reverse">
            <app-form-submit
              [form]="form"
              [isLoading]="userPerform.isLoading || updatePerform.isLoading"
              (validSubmit)="onSubmit()"
              >Update profile</app-form-submit
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
