<div class="flex justify-content-center mt-8">
  <p-card>
    <ng-template pTemplate="header">
      <app-logo />
    </ng-template>

    <ng-template pTemplate="content">
      <form [formGroup]="form">
        <app-input
          type="email"
          label="Email"
          inputId="email"
          [isLoading]="data.isLoading"
          formControlName="email"
        />

        <app-input
          type="text"
          label="User name"
          class="mt-5"
          inputId="username"
          [isLoading]="data.isLoading"
          formControlName="username"
        />

        <app-input
          type="password"
          label="Password"
          class="mt-5"
          inputId="password"
          [isLoading]="data.isLoading"
          formControlName="password"
        />

        <app-input
          type="password"
          label="Confirm password"
          class="mt-5"
          inputId="confirmPassword"
          [isLoading]="data.isLoading"
          formControlName="confirmPassword"
        />
      </form>
    </ng-template>

    <ng-template pTemplate="footer">
      <div class="flex flex-column align-items-center">
        <app-form-submit
          [form]="form"
          [isLoading]="data.isLoading"
          (validSubmit)="onSubmit()"
          >Register</app-form-submit
        >

        <p-divider class="w-full" />

        <p-button
          label="Already have an account? Login"
          link="true"
          severity="contrast"
          size="small"
          [loading]="data.isLoading"
          (onClick)="onLogin()"
        />
      </div>
    </ng-template>
  </p-card>
</div>
