<div class="flex justify-content-center mt-8">
  <p-card>
    <ng-template pTemplate="header">
      <app-logo />
    </ng-template>

    <ng-template pTemplate="content">
      <form [formGroup]="form">
        <app-input
          type="email"
          inputId="email"
          label="Email"
          [isLoading]="loginPerform.isLoading"
          formControlName="email"
        />

        <app-input
          type="password"
          inputId="password"
          label="Password"
          [isLoading]="loginPerform.isLoading"
          formControlName="password"
        />
      </form>
    </ng-template>

    <ng-template pTemplate="footer">
      <div class="flex flex-column align-items-center">
        <app-form-submit
          [form]="form"
          [isLoading]="loginPerform.isLoading"
          (validSubmit)="onSubmit()"
          >Login</app-form-submit
        >

        <p-divider class="w-full" />

        <p-button
          label="Not registered? Create an account"
          link="true"
          severity="contrast"
          size="small"
          [loading]="loginPerform.isLoading"
          (onClick)="onCreateAccount()"
        />
      </div>
    </ng-template>
  </p-card>
</div>
