<div class="grid mt-3 mx-3">
  <div class="col-12">
    <div class="mx-0 md:mx-8 mt-5">
      <div class="grid">
        <div class="col-12">
          <form [formGroup]="form">
            <app-input
              type="password"
              label="Current password"
              inputId="currentPassword"
              [isLoading]="updatePasswordPerform.isLoading"
              formControlName="currentPassword"
            />

            <app-input
              type="password"
              label="New password"
              inputId="newPassword"
              [isLoading]="updatePasswordPerform.isLoading"
              formControlName="newPassword"
            />

            <app-input
              type="password"
              label="Confirm new password"
              inputId="confirmNewPassword"
              [isLoading]="updatePasswordPerform.isLoading"
              formControlName="confirmNewPassword"
            />
          </form>
        </div>

        <div class="col-12">
          <div class="flex flex-row-reverse">
            <app-form-submit
              [form]="form"
              [isLoading]="updatePasswordPerform.isLoading"
              (validSubmit)="onSubmit()"
              >Update your password</app-form-submit
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
