<div class="mt-3">
  <p-button
    label="Add user"
    icon="pi pi-plus"
    size="small"
    outlined="true"
    severity="secondary"
    (onClick)="onAdd()"
  />

  <div class="text-color-secondary font-light text-xl mt-3">
    Share with specific people
  </div>

  <div class="mt-2">
    <p-table
      [value]="calendarPermissionsPerform.data?.items ?? []"
      scrollable="true"
      scrollHeight="600px"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Email</th>
          <th>User name</th>
          <th>Access</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr>
          <td>{{ item.email }}</td>
          <td>{{ item.username }}</td>
          <td>
            <p-tag [value]="mapCalendarAccess(item.access)" severity="info" />
          </td>

          <td>
            @if(canModify(item.userId)) {
            <p-button
              label="Edit"
              severity="primary"
              size="small"
              outlined="true"
              (onClick)="onUpdate(item)"
            />
            }
          </td>
        </tr>
      </ng-template>
    </p-table>

    <p-paginator
      (onPageChange)="onPageChange($event)"
      [first]="first"
      [rows]="rows"
      [totalRecords]="calendarPermissionsPerform.data?.totalCount"
      [rowsPerPageOptions]="[5, 10]"
    />
  </div>
</div>
