<ng-template #calendarDayCol let-day="day">
  <div class="inline-flex">
    <div class="block md:hidden">
      {{ day.date | date : "EEEEE" }}
    </div>
    <div class="hidden md:block">
      {{ day.date | date : "E" }}
    </div>
  </div>
</ng-template>

<ng-template #calendarMonthViewHeader let-days="days" let-locale="locale">
  <div class="cal-cell-row cal-header">
    @for(day of days; track day) {
    <div class="cal-cell text-xs" [ngClass]="setHeaderColsStyle(day)">
      <ng-container *ngTemplateOutlet="calendarDayCol; context: { day: day }" />
    </div>
    }
  </div>
</ng-template>

<ng-template #calendarWeekViewHeader let-days="days" let-locale="locale">
  <div class="cal-day-headers">
    @for(day of days; track day) {
    <div
      class="flex flex-column align-items-center cal-header text-xs"
      [ngClass]="setHeaderColsStyle(day)"
    >
      <ng-container *ngTemplateOutlet="calendarDayCol; context: { day: day }" />
      <div>
        {{ day.date | date : "d" }}
      </div>
    </div>
    }
  </div>
</ng-template>

<div class="grid mt-2">
  <div class="col-12 md:col-2">
    <div class="flex flex-row align-items-center justify-content-center h-full">
      <span>24 June 2024</span>
    </div>
  </div>
  <div class="col-12 md:col-5">
    <div class="flex flex-row align-items-center justify-content-center h-full">
      <div>
        <button
          pButton
          mwlCalendarToday
          outlined="true"
          severity="secondary"
          size="small"
          [(viewDate)]="viewDate"
        >
          Today
        </button>
      </div>

      <div class="ml-2">
        <button
          pButton
          mwlCalendarPreviousView
          [(viewDate)]="viewDate"
          [view]="view"
          outlined="true"
          severity="secondary"
          size="small"
          icon="pi pi-chevron-left"
        ></button>
        <button
          pButton
          mwlCalendarNextView
          [(viewDate)]="viewDate"
          [view]="view"
          outlined="true"
          severity="secondary"
          size="small"
          icon="pi pi-chevron-right"
        ></button>
      </div>
    </div>
  </div>
  <div class="col-12 md:col-5">
    <div class="flex flex-row align-items-center justify-content-center h-full">
      <div>
        <p-splitButton
          icon="pi pi-cog"
          outlined="true"
          size="small"
          severity="secondary"
          [model]="calendarSettingsMenuItems"
        />
      </div>

      <div class="ml-2">
        <p-splitButton
          size="small"
          severity="info"
          [label]="view.charAt(0).toUpperCase() + view.slice(1)"
          [model]="calendarViewMenuItems"
        />
      </div>
    </div>
  </div>
  <div class="col-12">
    @switch (view) { @case (CalendarView.Month) {
    <mwl-calendar-month-view
      [viewDate]="viewDate"
      [headerTemplate]="calendarMonthViewHeader"
    ></mwl-calendar-month-view>
    } @case (CalendarView.Day) {
    <mwl-calendar-day-view [viewDate]="viewDate"></mwl-calendar-day-view>
    } @case(CalendarView.Week) {
    <mwl-calendar-week-view
      [viewDate]="viewDate"
      [headerTemplate]="calendarWeekViewHeader"
    ></mwl-calendar-week-view>
    } }
  </div>
</div>
